form {
    display: none;
}

#booklist {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    column-gap: 50px;
    row-gap: 50px;
}

#booklist div.card {
    border: solid blue;
    height: 300px;
    width: 300px;
}